body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color:black;
    color:white;
    overflow-x:hidden;/*prevent horizontal scrolling*/

}

.main{
    display:flex;/*flexbox layout for the main container*/
    height:100vh;/*full height of the viewport*/
}
.sidebar{
    background-color:black;
    width:340px;/*fixed width for the sidebar*/
    border-radius:1rem;/*1 rem=16px border radius for rounded corners*/
}
.main-content{
    background-color:#121212;
    flex:1;/*take up remaining space in the main container*/
    border-radius:1rem;/*1 rem=16px border radius for rounded corners*/
    overflow-y:auto;/*enable vertical scrolling if content overflows*/
}
.music-player{
    background-color:black;
    position:fixed;/*fixed position at the bottom of the viewport*/
    bottom:0;
    width:100%;/*full width of the viewport*/
    height: 72px;
}
a{
    text-decoration:none;/*remove underline from links*/
    color:white;/*set link color to white*/
}
.nav-options {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 2.5rem;/*2.5 rem=40px line height for spacing between navigation items*/;
    font-size: 1.25rem;
    opacity: 0.7;/*slightly transparent navigation items*/
}
.nav-options:hover {
    opacity: 1;/*fully opaque on hover*/
}
nav-options a {
    font-size: 1rem;
}
.nav{
    background-color:#121212;
    border-radius:1rem;/*1 rem=16px border radius for rounded corners*/
    display:flex;/*flexbox layout for the navigation bar*/
    flex-direction:column;/*stack navigation items vertically*/
    justify-content:center;/*space out navigation items evenly*/
    height:100px;
    padding:0.5rem 0.75rem;/*0.5 rem=8px padding for the navigation bar*/
}